<html>
  <head>
      <title>Welcome to Ansible</title>
  </head>
  <body>
      <h1>nginx, configurated by Ansible</h1>
      <p>If you see this, you are the resistence!</p>
      <p>{{ ansible_managed }}</p>
  </body>
</html>